<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWmqgNp3eXQE760g7Wf-HPFwyBx8d4qTA</string>
	<key>GCM_SENDER_ID</key>
	<string>848696099138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alimahmoud.bulkr</string>
	<key>PROJECT_ID</key>
	<string>bulkr-a61b0</string>
	<key>STORAGE_BUCKET</key>
	<string>bulkr-a61b0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848696099138:ios:2f70def278c246ac9fc8db</string>
</dict>
</plist>